openapi: 3.1.0
info:
  title: API Dashboard OKRs - Funil Faixa Preta
  description: API para consulta de métricas de OKRs em tempo real. Retorna progresso por Objetivo, Key Result e Owner.
  version: 1.0.0
servers:
  - url: https://8000-i1ploscfra7mci1ekf1gc-2096ae2e.us1.manus.computer
    description: Servidor de API do projeto OKRs (hospedado no Manus)
paths:
  /metrics:
    get:
      summary: Todas as métricas do dashboard
      description: Retorna o conjunto completo de métricas incluindo gerais, por objetivo, por owner e por key result.
      operationId: getAllMetrics
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Métricas completas do dashboard
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'
        '403':
          description: API Key inválida ou ausente

  /metrics/gerais:
    get:
      summary: Métricas gerais do dashboard
      description: Retorna totais gerais como número de ações, taxa de atingimento geral e contagem por status.
      operationId: getMetricasGerais
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Métricas gerais
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricasGerais'

  /metrics/objetivos:
    get:
      summary: Métricas por Objetivo estratégico
      description: Retorna o percentual de atingimento e contagem de ações para cada Objetivo, ordenado do maior para o menor progresso.
      operationId: getMetricasPorObjetivo
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Lista de objetivos com métricas
          content:
            application/json:
              schema:
                type: object
                properties:
                  objetivos:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricaObjetivo'

  /metrics/owners:
    get:
      summary: Métricas por Owner (responsável)
      description: Retorna o desempenho de cada responsável pelas ações, incluindo taxa de atingimento individual.
      operationId: getMetricasPorOwner
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Lista de owners com métricas
          content:
            application/json:
              schema:
                type: object
                properties:
                  owners:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricaOwner'

  /metrics/key-results:
    get:
      summary: Métricas por Key Result
      description: Retorna o progresso de cada Key Result, incluindo o objetivo ao qual pertence, ordenado do maior para o menor progresso.
      operationId: getMetricasPorKeyResult
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Lista de Key Results com métricas
          content:
            application/json:
              schema:
                type: object
                properties:
                  key_results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MetricaKeyResult'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    MetricasGerais:
      type: object
      properties:
        total_acoes:
          type: integer
          example: 39
        total_objetivos:
          type: integer
          example: 4
        total_concluidas:
          type: integer
          example: 18
        total_em_andamento:
          type: integer
          example: 10
        total_em_risco:
          type: integer
          example: 5
        total_nao_iniciadas:
          type: integer
          example: 6
        taxa_atingimento_geral:
          type: number
          example: 59.0

    MetricaObjetivo:
      type: object
      properties:
        objetivo:
          type: string
          example: "Aumentar receita recorrente"
        percentual:
          type: number
          example: 72.5
        total:
          type: integer
          example: 12
        concluidas:
          type: integer
          example: 7
        em_andamento:
          type: integer
          example: 3
        nao_iniciadas:
          type: integer
          example: 1
        em_risco:
          type: integer
          example: 1

    MetricaOwner:
      type: object
      properties:
        owner:
          type: string
          example: "Gabriel"
        taxa_atingimento:
          type: number
          example: 66.7
        total:
          type: integer
          example: 15
        concluidas:
          type: integer
          example: 8
        em_andamento:
          type: integer
          example: 4
        nao_iniciadas:
          type: integer
          example: 2
        em_risco:
          type: integer
          example: 1

    MetricaKeyResult:
      type: object
      properties:
        id:
          type: string
          example: "kr-001"
        nome:
          type: string
          example: "Atingir R$ 150k MRR"
        objetivo:
          type: string
          example: "Aumentar receita recorrente"
        percentual:
          type: number
          example: 80.0
        total:
          type: integer
          example: 5
        concluidas:
          type: integer
          example: 3
        em_andamento:
          type: integer
          example: 2
        nao_iniciadas:
          type: integer
          example: 0
        em_risco:
          type: integer
          example: 0

    DashboardMetrics:
      type: object
      properties:
        metricas_gerais:
          $ref: '#/components/schemas/MetricasGerais'
        por_objetivo:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MetricaObjetivo'
        por_owner:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MetricaOwner'
        por_key_result:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MetricaKeyResult'
